:root {
    --black: #000000;
    --lime-yellow: #FDFF41;
    --white: #ffffff;
    --purple: #918EFF;
    --pink: #FF619C;
    --wine: #d20a53;
    --gray: #383838;

    --green-dark: #262519;
}

@keyframes animation-notification {
    0%{
      bottom: -10rem;
    }
    20%, 80% {
        bottom: 5%;
    }
    100% {
        bottom: -10rem;
    }
}

/*GENERAL PROPERTIES*/
body {
    position: relative;
    margin: 0;
    background-color: black;
    font-family: 'Poppins', Helvetica, sans-serif;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.attributions {
    display: none;
}

.bold {
        font-weight: 600;
        text-shadow: 1px 1px 2px black;
}

header {
    width: 100%;
    height: 129vh;

    & #open-menu, #close-menu {
        display: none;
        position: relative;
        width: 100%;
        height: 2rem;

        & a {
            display: block;
            position: absolute;
            right: 1rem;
        }

        & img {
            width: 25px;
            height: 25px;
            
        }
    }

    & #open-menu{
        background-color: var(--black);
        height: 4rem;
        position: fixed;
        z-index: 1;
        padding: 0 1.5rem;

        & #select-container-1 {
            height: 100%;
            position: absolute;
            width: 3rem;
        }

        & select {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            border: 1px solid var(--black);
            background-color: var(--black);
            color: var(--white);
            appearance: none;
            outline: none;
            font-size: inherit;
            cursor: pointer;
        }

        & .select-arrow {
            position: absolute;
            pointer-events: none;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            width: 12px;
            height: 12px;
            background-color: var(--gray);
            clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
        }

        & #checkbox1-dark-activate {
            opacity: 0;
            position: absolute;
            left: 5rem;
            top: 30%;
        }

        & .checkbox1-label {
            background-color: var(--lime-yellow);
            width: 50px;
            height: 26px;
            border-radius: 50px;
            position: absolute;
            left: 5rem;
            top: 30%;
            padding: 5px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & img {
                width: 17px;
                height: 17px;
            }

            & .ball {
                background-color: var(--black);
                width: 22px;
                height: 22px;
                position: absolute;
                left: 2px;
                top: 2px;
                border-radius: 50%;
                transition: transform 0.2s linear;
              }
          }

        & #checkbox1-dark-activate:checked + .checkbox1-label .ball {
            transform: translateX(24px);
        }

        & a {
            top: 50%;
            right: 1.5rem;
            transform: translateY(-50%);
        }
    }

    & nav {
        height: 15%;
        width: 100%;
        position: fixed;
        background-color: var(--black);
        color: var(--white);
        transition: background-color 0.2s ease;
        z-index: 2;
        
        & .logo {
            width: 30%;
            height: 100%;
            display: inline-block;
            padding-left: 2em;
            font-weight: 600;
            font-size: 1.5rem;

            & a {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        & ul {
            position: absolute;
            right: 0;
            padding-left: 0;
            padding-right: 2em;
            margin: 0;
            width: 69%;
            height: 100%;
            display: inline-flex;
            justify-content: flex-end;
            column-gap: 3rem;

            & li {
                margin: auto 0;
            }

            & #checkbox2-dark-activate {
                opacity: 0;
                position: absolute;
            }

            & .checkbox2-label {
                background-color: var(--lime-yellow);
                width: 50px;
                height: 26px;
                border-radius: 50px;
                position: relative;
                padding: 5px;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;

                & img {
                    width: 17px;
                    height: 17px;
                }

                & .ball {
                    background-color: var(--black);
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    left: 2px;
                    top: 2px;
                    border-radius: 50%;
                    transition: transform 0.2s linear;
                  }
              }

            & #checkbox2-dark-activate:checked + .checkbox2-label .ball {
                transform: translateX(24px);
            }

            & #select-container-2 {
                height: 100%;
                position: relative;
                width: 3rem;
            }

            & select {
                width: 100%;
                border: 1px solid var(--black);
                background-color: var(--black);
                color: var(--white);
                appearance: none;
                outline: none;
                font-size: inherit;
                cursor: pointer;
            }

            & .select-arrow {
                position: absolute;
                pointer-events: none;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
                width: 12px;
                height: 12px;
                background-color: var(--gray);
                clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
            }
        }
    }

    & #hero { 
        height: 100%;
        position: fixed;
        width: 100%;

        & .intro {
            position: relative;
            top: 30%;
            right: 0;
            left: 0;
            white-space: wrap;
            text-align: center;

            & .my-name {
                font-size: 2rem;
                font-weight: 300;
                margin-bottom: -2rem;
            }

            & .role {
                font-size: 6rem;
                letter-spacing: 5px;
                font-weight: 600;
            }

            & .content {
                font-weight: normal;
                margin-top: -1rem;
                & p {
                    margin: 0;
                }
            }

            & button {
                border: none;
                border-radius: 13px;
                height: 3rem;
                width: 10rem;
                margin-top: 3rem;
                margin-left: 1rem;
                margin-right: 1rem;
                font-weight: 700;
                font-size: 15px;
            }

            & .lime-yellow-button {
                background-color:var(--lime-yellow);
                cursor: pointer;
            }

            & .gray-button {
                background-color:var(--gray);
                color: var(--white);
                cursor: pointer;
            }
        }

        & .social-media {
            position: absolute;
            display: flex;
            bottom: 10%;
            left: 10%;

            & .icon {
                background-color: var(--white);
                margin: 0 0.5rem;
                border-radius: 50%;
                border: 4px solid var(--black);
                width: 4rem;
                height: 4rem;
                text-align: center;

                img {
                    width: 40px;
                    height: 40px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            & .icon:nth-child(1){
                position: relative;
                left: 2rem;
            }

            & .info {
                margin: auto 0;
                font-size: 0.8rem;
            }
        }

        & .star-img1 {
            position: absolute;
            left: 17%;
            bottom: 27%;
            transform: rotate(-15deg);
        }

        & .star-img2 {
            position: absolute;
            right: 17%;
            top: 20%;
            transform: rotate(15deg);
            transition: display 0.2s ease;
        }
    }

    & #return-button {
        background-color: var(--pink);
        width: 4.5rem;
        height: 4.5rem;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 10;
        border: 3px solid var(--black);
        border-radius: 50%;

        img {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    & .notification {
        display: none;
        position: fixed;
        width: 40%;
        height: 4rem;
        border-radius: 13px;
        z-index: 4;
        background-color: var(--pink);
        font-size: 1.2rem;
        border: 4px solid var(--wine);
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        transition: all 1s ease;
        line-height: 1rem;
        animation: animation-notification 10s forwards;
    }
}

main {
    width: 100%;
    position: relative;
    background-color: var(--black);
    padding-bottom: 14rem;

    section {
        position: relative;
        margin-top: 10vh;
    }
   
    & #about-me{
        margin-top: 0;
    
        & .custom-shape-divider-top {
            position: absolute;
            top: -129px;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            padding: 0;
            margin: 0;  
    
            & svg {
                position: relative;
                display: block;
                width: calc(100% + 1.3px);   
                transition: top 0.5s ease;  
                height: 130px;    
    
                & .shape-fill {
                    fill: var(--pink);
                    transition: fill 0.2s linear;
                }
    
                & path {
                    padding-bottom: 300px;
                    d: path("M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z");
                }
            }
        }
    
        & .custom-shape-divider-bottom {
            position: relative;
            bottom: 1px;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            padding: 0;
            margin: 0;
            transform: rotate(180deg);
    
            & svg {
                position: relative;
                display: block;
                width: calc(100% + 1.3px);
                height: 130px;
    
                & path {
                    d: path("M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z");
                }
    
                & .shape-fill {
                    fill: var(--pink);
                    transition: fill 0.2s linear;
                }
            }
        }
        & h1 {
            font-size: 5rem;
            letter-spacing: 5px;
            font-weight: 600;
            text-align: center;
            width: 100%;
            background-color: var(--pink);
            margin: -1px;
            transition: background-color 0.2s linear;
        }
    
        & .page-box { 
            position: relative;
            display: flex;
            background-color: var(--pink);
            transition: background-color 0.2s linear;
    
            & .content {
                width: 55%;
                padding-left: 4rem;
                padding-top: 2rem;
                font-size: 1.5rem;
                text-align: justify;
                font-weight: 500;
            }
            
            & .content-img{
                width: 45%;
                padding: 0 2rem;
                
                & img {
                    width: 100%;
                    height: auto;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }

    & #skills{

        & h1 {
            text-align: center;
            font-size: 3.5rem;
            letter-spacing: 5px;
            font-weight: 600;
            margin: 0 auto;
            margin-bottom: 2rem ;
        }

        & .page-box {
            position: relative;
            min-height: 30vh;
            width: 100%;
    
            & #icons-skills {
                position: relative;
                width: 80%;
                left: 50%;
                transform: translateX(-50%);

                & .skills-group {
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    row-gap: 6vh;
                    margin-bottom: 10vh;
                }

                & h3 {
                    width: 100%;
                    font-size: 2.5rem;
                    font-weight: 500;
                    text-decoration: underline;
                    margin-top: 0;
                    margin-bottom: 1rem;
                }
    
                & .logo {
                    position: relative;
                    min-width: 25%;
                    max-width: 100%;

                    img {
                        display: block;
                        margin: 0 auto;
                        padding: 0 2rem;
                    }
    
                    & .content {
                        display: none;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        padding: 0.5rem 10px;
                        background-color: var(--lime-yellow);
                        color: var(--black);
                        border-radius: 13px;
                        width: 15rem;
                        z-index: 1;
                    }
                }
    
                & .logo:hover .content {
                    display: block;
                }
            }
        }
    }

    & #projects {

        & h1 {
            text-align: center;
            font-size: 3.5rem;
            letter-spacing: 5px;
            font-weight: 600;
        }

        & .page-box {
            position: relative;
            background-color: var(--white);
            min-height: 30vh;
            min-width: 70vw;
            max-width: 80vw;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            border-radius: 13px;
            transition: background-color 0.2s linear;
    
            & .circles {
                height: 10vh;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
    
                & .circle {
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: var(--black);
                    border-radius: 50%;
                    margin: auto 0;
                }
            }
    
            & .content {
                position: relative;
                min-height: fit-content;

                & .boxes {
                    position: relative;
                    margin-bottom: 10vh;
                    margin-top: 3rem;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    row-gap: 10vh;
                    
            
                    & .box {
                        position: relative;
                        border-radius: 13px;
                        min-height: 52vh;
                        width: 21rem;
                        border: 2px solid var(--black);
                        margin: 0 1rem;
                        transition: background-color 0.2s linear;
                    }
            
                    & .white-box {
                        background-color: var(--white);
                        color: var(--black);
                    }
            
                    & .pink-box {
                        background-color: var(--pink);
                        color: var(--white);
                    }
            
                    & .purple-box {
                        background-color: var(--purple);
                        color: var(--white);
                    }
            
                    & .lime-yellow-box {
                        background-color: var(--lime-yellow);
                        color: var(--black);
                    }
            
                    & .preview-webpage {
                        position: relative;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        background-color: inherit;
                        border-radius: 13px 13px 0 0;
            
                        & img {
                            display: block;
                            height: 200px;
                            width: 100%;
                            border-radius: 13px 13px 0 0;
                            border-bottom: 2px solid var(--black);
                            object-fit: cover;
                        }
            
                        & .square {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 5rem;
                            height: 2.6rem;
                            background-color: inherit;
                            display: flex;
                            justify-content: space-around;
                            border: 1px solid var(--black);
                            transition: background-color 0.2s linear;
            
                            & a {
                                width: 31px;
                                height: 31px; 
                                margin: auto 0;
                            }
            
                            & img {
                                width: 30px;
                                height: 30px;
                                display: inline-block;
                                border: none;
                            }
            
                            .content {
                                background-color: var(--black);
                                color: var(--white);
                                border-radius: 13px;
                                padding: 0.5rem;
                                position: relative;
                                display: none;
                                width: 8rem;
                                height: 2rem;
                                text-align: center;
                            }
                        }
                        & .github-link:hover .content {
                            display: block;
                        }
            
                        & .website-link:hover .content {
                            display: block;
                        }
                    }
            
                    & h3 {
                        margin: 0.5rem 1rem;
                    }
                    & p {
                        margin: 1rem 1rem;
                        text-align: justify;
                        text-wrap: wrap;
                    }
                }
            }
        }
    }

    & #work-experience {

        & h1 {
            text-align: center;
            font-size: 3.5rem;
            letter-spacing: 5px;
            font-weight: 600;
        }

        & .page-box {
            position: relative;
            min-height: 30vh;
            width: 100%;
            padding-top: 4rem;
            overflow-wrap: break-word;
    
            & .timeline-section {
                width: 100%;
                position: relative;
                margin-top: -10rem;
            }

            & .timeline-section:first-child {
                margin-top: 0;
            }

            & .timeline-circle {
                position: absolute;
                background-color: var(--white);
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                left: 50%;
                top: -1rem;
                transform: translateX(-50%);
                z-index: 0;
            }

            & .timeline-left, .timeline-right {
                position: relative;
                width: 50%;
            }

            & .box {
                position: relative;
                width: 85%;
                min-height: 16rem;
                border-radius: 13px;
                background-color: var(--lime-yellow);
                display: flex;
                color: var(--black);
                transition: background-color 0.2s linear, color 0.2s linear;
    
                & .circles {
                    width: 8%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    border-radius: 13px;

                    & .circle {
                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: var(--black);
                        border-radius: 50%;
                        position: relative;
                    }
                }

                & .content {
                    min-height: fit-content;
                    width: 92%;
                    position: relative;
                    margin-bottom: 2rem;

                    & .occupation {
                        font-size: 1.5rem;
                        margin-top: 1.5rem ;
                        margin-bottom: 0;
                        padding: 0;
                    }

                    & .bold {
                        font-weight: 600;
                        text-shadow: none;
                    }

                    & .time {
                        margin-top: 1.9rem;
                        position: absolute;
                        top: 0;
                        & p {
                            margin: 0;
                            padding: 0;
                            display: inline-block;
                        }
                    }
                    
                    & .ubication {
                        & img {
                            width: 1rem;
                            height: 1rem;
                        }

                        & p {
                            margin: 0;
                            padding: 0;
                            display: inline-block;
                        }
                    }

                    & .tasks {
                        margin-top: 2rem;
                        margin-bottom: 1rem;
                        margin-left: 1.5rem;
                        line-height: 1.3rem;
    
                        & ul {
                            & li {
                                list-style: inside;
                                list-style-position: outside;
                                margin-bottom: 1rem;
                            }
                        }

                        a {
                            color: #000000;
                            font-weight: 600;
                        }
                    }
                }
            }
    
            & .timeline-left {
                left: 0;
                border-right: 7px dashed var(--white);
                margin-left: 5px;
                padding: 2rem 0;

                & .box {
                    right: -4rem;

                    & .circle {                   
                        left: 65%;
                    }
        
                    & .content{
                        margin-left: 2rem;
                        
                        & h3 {
                            width: 60%;
                            display: inline-block;   
                        }
        
                        & .time {
                            width: 42%;
                            right: 0;
                            text-align: right;
        
                            & img {
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                    }
                }
            }
    
            & .timeline-right {
                min-height: 10rem;
                left: 50%;
                border-left: 7px dashed var(--white);
                margin-right: 3px;
                padding: 2rem 0;

                & .box {
                    right: -2.5rem;

                    & .circle {
                    left: -20%;
                }
        
                    & .content{
                        margin-right: 2.5rem;
                        
                        & h3 {
                            width: 100%;
                            right: 0;
                            top: 0;
                            text-align: right;
                        }
        
                        & .time {
                            width: 45%;
                            left: 0;
        
                            & img {
                                width: 1rem;
                                height: 1rem;
                            }
                        }
        
                        & .company {
                            text-align: right;  
                        }
        
                        & .ubication {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }

    & #contact-me {

        & .page-box {
            position: relative;
            background-color: var(--purple);
            min-height: 30vh;
            width: 80vw;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            border-radius: 13px;
    
            & .circles {
                width: 8%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
    
                & .circle {
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: var(--black);
                    border-radius: 50%;
                    margin: 0 auto;
                }
            }
    
            & .content{
                min-height: fit-content;
                width: 92%;
                margin-left: 2rem;
                
                & h1 {
                    font-size: 3rem;
                    width: 100%;
                }
    
                & .description {
                    width: 50%;
                    display: inline-block;
                    vertical-align: top;
                    padding-right: 3rem;
                    font-size: 1.5rem;
                }
    
                & form {
                    width: 49%;
                    display: inline-block;
                    vertical-align: top;
                    padding-right: 3rem;
                    padding-left: 1rem;
                    position: relative;
    
                    & input, textarea {
                        display: block;
                        width: 100%;
                        border-radius: 13px;
                        font-family: 'Poppins', Helvetica, sans-serif;
                        font-size: 1.2rem;
                        padding-left: 1rem;
                        border: 3px solid var(--black);
                    }
    
                    & input {
                        height: 3.5rem;
                        margin-bottom: 1.5rem ;
                    }
    
                    & textarea {
                        height: 10rem;
                        margin-bottom: 3rem;
                    }
    
                    & input[type="submit"] {
                        margin-bottom: 3rem;
                        background-color: var(--lime-yellow);
                        font-weight: 600;
                        cursor: pointer;
                    }

                    & #loading-container {
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(145, 142, 255, 0.726);

                        & #svg-loading {
                            position: absolute;
                            left: 50%;
                            top: 40%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
    
            & .paper-clip {
                position: absolute;
                right: -1rem;
                top: -1rem;
                height: 4rem;
                width: 4rem;
            }
        }
    }
}

footer {
    background-color: var(--black);
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    & #outro {
        width: 100%;

        & .info {
            width: 50%;
            position: absolute;
            top: 0;
            font-size: 1.5rem;

            & .my-name {
                font-weight: 700;
            }

            & .role {
                font-size: 1rem;
            }
        }

        & .social-media {
            position:absolute;
            width: 15%;
            right: 0;
            display: flex;
            justify-content: space-around;
            top: 0;

            & img{
                width: 35px;
                height: 35px;
            }
        }
    }

    & .copyright {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        margin-top: 2rem;

        & a {
            font-weight: 600;
            text-decoration: underline;
        }

        & p {
            margin: 0;
            padding: 0;
            display: inline-block;
        }
    }
}

/*LAPTOP - 1024px*/
@media screen and (max-width: 1024px) {

    header {
        & #hero{

            & .intro {
                top: 25%;

                & .role {
                    font-size: 4rem;
                    line-height: 5rem;
                    margin-top: 1.5rem;
                }

                & .content {
                    margin-top: 1rem;
                }
            }

            & .social-media {
                left: 0;
                bottom: 2%;
            }
        } 
    }

    main {

        & #about-me {

            & h1 {
                font-size: 3.5rem;
                letter-spacing: 3px;
            }

            & .page-box {

                & .content {
                    width: 60%;
                    font-size: 1rem;
                    padding-left: 1.5rem;
                }

                & .content-img {
                    width: 40%;
                }
            }
        }

        & #work-experience .page-box {
            & .timeline-left{
                & .box {
                    left: 2rem;
                }
            }
        }
    }
}

/*TABLET - 768px*/
@media screen and (max-width: 768px) {
    header {
        & nav {
            & .logo {
                width: 20%;
                padding-left: 1.5rem;
                & a {
                    font-size: 1rem;
                }
            }

            & ul {
                column-gap: 1em;

                & li {
                    text-align: left;
                    font-size: 0.9rem;
                }
            }
        }

        & #hero {
            & .intro {
                & button {
                    margin-top: 2rem;
                }
            }
            & .social-media  .icon {
                width: 3.5rem;
                height: 3.5rem;

                & img {
                    width: 35px;
                    height: 35px;
                }
            }

            & .star-img1 {
                top: 20%;
            }
        }

        & #return-button {
            width: 3rem;
            height: 3rem;
            bottom: 1.5rem;
            right: 1rem;

            img {
                width: 25px;
                height: 25px;
            }
        }

        & .notification {
            font-size: 1rem;
        }
    }

    & main {
        & #about-me{

            & .custom-shape-divider-top, .custom-shape-divider-bottom {
                & svg {
                    height: 50px;
                }
            }

            & .custom-shape-divider-top {
                top: -49px;
            }

            & .page-box {
                & .content {
                    padding: 0 2rem;
                    width: 100%;
                }
    
                & .content-img {
                    display: none;
                }
            }
        }

        & #skills .page-box {
            & #icons-skills .skills-group {
                margin-bottom: 2vh;

                & h3 {
                    font-size: 2rem;
                }
            }

            & img {
                width: 140px;
            }
        }

        & #projects {

            & .circles .circle:nth-child(-n + 4) {
                display: none;
            }
        }

        & #work-experience {
            & .page-box {
                padding-top: 0;

                & .timeline-section {
                    margin-top: 0;

                    & .timeline-circle {
                        display: none;
                    }

                    & .timeline-left, .timeline-right {
                        width: 100%;
                        border: 0;
                        left: 0;
                        padding-top: 0;

                        & .box {
                            left: 50%;
                            transform: translateX(-50%);
                            right: 0;

                            & .circles {
                                display: none;
                            }

                            & .content {
                                margin: 0 0.8rem;
                                width: 100%;

                                & .time {
                                    display: inline-block;
                                    position: relative;
                                    font-size: 0.9rem;
                                    width: 40%;
                                    margin-top: 1.5rem;
                                }

                                & .occupation {
                                    display: inline-block;
                                    position: relative;
                                    font-size: 1.1rem;
                                    width: 58%;
                                    right: 0;
                                    margin: 0;
                                    margin-top: 1.5rem;
                                    top: 0;
                                    vertical-align: top;
                                }

                                & .company, .ubication {
                                    text-align: left;
                                    font-size: 0.9rem;
                                }

                                & .tasks {
                                    font-size: 0.9rem;
                                    margin-top: 0.5rem;
                                    margin-left: 0.8rem;

                                    & li {
                                        margin-bottom: 0.5rem;
                                    }
                                }

                                & .tools {
                                    font-size: 0.9rem;
                                    margin-bottom: 0.8rem;
                                }
                            }
                        }
                    }

                    & .timeline-right {
                        margin-right: 0;

                        & .occupation {
                            text-align: left;
                        }
                    }

                    & .timeline-left {
                        margin-left: 0;
                    }
                }
            }
        }

        & #contact-me .page-box {
            & .content{

                & h1 {
                    font-size: 2.5rem;
                    letter-spacing: 2px;
                }
                
                & .description {
                    font-size: 1rem;
                    width: 100%;
                }

                & form {
                    margin-top: 1rem;
                    width: 100%;
                    padding-left: 0;

                    & input, textarea {
                        font-size: 1rem;
                    }

                    & input {
                        height: 2.5rem;
                    }
                }
            }
        }
    }
}


/*PHONE*/
@media screen and (max-width: 426px) {
    header {
        & #open-menu, #close-menu {
            display: block;
        }

        & nav {
            background-color: #FF619C;
            height: 100%;
            width: 70%;
            right: 0;
            padding-top: 1rem;
            transform: translatex(100%);

            & .logo {
                width: 100%;
                height: 10%;
                transition: none;
                padding-left: 0;
                position: relative;
                
                & a {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-wrap: nowrap;
                }
            }

            & ul {
                flex-direction: column;
                position: relative;
                height: 90%;
                column-gap: 0;
                justify-content: center;
                row-gap: 3rem;
                width: 100%;
                padding: 3rem 0 12rem;

                & li {
                    height: 3rem;
                    text-align: center;
                }

                & #select-container-2 {
                    display: none;
                }

                & #checkbox2-dark-activate, .checkbox2-label {
                    display: none;
                }
            }
        }

        & nav:has(#close-menu a:focus)  {
            transform: translatex(100%);
            transition: 1s;
        }

        & #hero {
                & .intro {
                    top: 13%;

                    & .my-name {
                        font-size: 1.5rem;
                        margin-bottom: 2rem;
                    }

                    & .role {
                        font-size: 3.5rem;
                        letter-spacing: 3px;
                        line-height: 3.5rem;
                    }

                    & .content {
                        padding: 0 1rem;
                        margin-top: 1rem;

                        & p {
                            display: inline;
                        }
                    }

                    & button {
                        width: 8rem;
                        height: 2.5rem;
                        font-size: 12px;
                        margin-top: 1.5rem;
                    }

                    & button:nth-child(1) {
                        margin-right: 0.3rem;
                    }

                    & button:nth-child(1) {
                        margin-left: 0.3rem;
                    }
                } 

                & .social-media {
                    left: 0;
                    display: block;
                    width: 100%;

                    & .icon {
                        width: 3rem;
                        height: 3rem;
                        position: relative;
                        left: 20%;
                        top: 1rem;

                        & img {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    & .icon:nth-child(1){
                        position: absolute;
                        z-index: 1;
                    }

                    .info {
                        width: 50%;
                        position: relative;
                        left: 43%;
                        bottom: 1rem;
                    }
                }

                & .star-img1, .star-img2 {
                    display: none;
                }            
        }

        & .notification {
            font-size: 0.8rem;
        }
    }

    header:has(#open-menu a:focus)  {
        & nav {
            transform: translatex(0%);
            display: block;
            transition: 1s;
        }
    }

    main {

        & #about-me {
            & h1{
                padding: 0 2rem;
                font-size: 2.5rem;
                letter-spacing: 2px;
            }
        }

        & #skills {
            & h1 {
                font-size: 2.5rem;
                letter-spacing: 2px;
            }
        }

        & #projects {
            & h1 {
                font-size: 2.5rem;
                letter-spacing: 2px;
            }

            & .page-box {

                & .circles .circle:nth-child(-n + 8) {
                    display: none;
                }

                & .content {
                    & .boxes .box {
                        width: 18rem;
                        min-height: 45vh;

                        & .preview-webpage {
                            & img:not(.links) {
                                height: 170px;
                            }
                        }

                        & h3 {
                            font-size: 1rem;
                        }

                        & p {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }

        & #work-experience {
            
            & h1{
                letter-spacing: 2px;
                font-size: 2.5rem;
            }

            & .timeline-section {
                & .timeline-left, .timeline-right {

                    & .box {
                        padding: 0 1rem;

                        & .content {
                            padding-bottom: 1rem;

                            & .occupation {
                                width: 55% !important;
                            }

                            & .time {
                                font-size: 0.8rem !important;
                            }
                        }
                    }
                }
            }
        }

        & #contact-me .page-box {

            & .circles {
                width: 15%;
            }
            & .content {
                margin-left: 1rem;

                & h1 {
                    font-size: 2rem;
                    text-align: left;
                }

                & .description {
                    font-size: 0.9rem;
                    text-align: justify;
                }

                & form {
                    & input, textarea {
                        font-size: 0.9rem;
                    }
                }
            }

            & .paper-clip {
                display: none;
            }
        }
    }

    footer {
        & #outro {
            & .social-media {
                right: 2rem;

                & img {
                    width: 30px;
                    height: 30px;
                }

                & img:first-child {
                    margin-right: 5px;
                }
            }
        }

        & .copyright {
            font-size: 0.9rem;
        }
    }
}

/*DARK THEME*/


.dark {

    nav {
        background-color: var(--black) !important;
    }

    #about-me {
        & .custom-shape-divider-top, .custom-shape-divider-bottom {
            & svg .shape-fill {
                fill: var(--green-dark) !important;
            }
        }

        & h1, .page-box {
            background-color: var(--green-dark) !important;
        }
    }

    #projects .page-box {
        background-color: var(--green-dark) !important;
        border: 2px solid var(--white);

        & .boxes .box {
            background-color: var(--black)  !important;
            border: 2px solid var(--white) !important;
            color: var(--white) !important;

            & .preview-webpage {
                border-bottom: 2px solid var(--white);

                & .square {
                    border-left: 2px solid var(--white) !important;
                    border-top: 2px solid var(--white) !important;
                }
            }
        }
    }

    #work-experience .page-box {
        & .box {
            background-color: var(--green-dark) !important;
            color: var(--white) !important;
        }
    }

    #contact-me .page-box {
        background-color: var(--green-dark) !important;
        
        & .contact-form {

            & input:not([type="submit"]), textarea {
                background-color: var(--black);
                border: 2px solid var(--white) !important;
                color: var(--white);
            }
        }
    }
}



