<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../generalStyles.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>My Web Portfolio</title>
</head>
<body>
    <header id="intro-scroll-pointer">
        <div id="open-menu">
            <div id="select-container-1">
                <select name="translate" id="translate">
                    <option value="EN">EN</option>
                    <option value="FR">FR</option>
                    <option value="ES">ES</option>
                </select>
                <div class="select-arrow"></div>
            </div>
            <a href="#">
                <img src="../../images/menu_128px.png" alt="">
            </a>
        </div>
        <nav>
            <div id="close-menu">
                <a href="#"><img src="../../images/close_128px.png" alt=""></a>
            </div>
            <div class="logo" ><a href="#" id="tr-nav-logo">Crisel Ayala</a></div>
            <ul>
                <li><a href="#about-me-scroll-pointer" id="tr-nav-about-me">About me</a></li>
                <li><a href="#skills-scroll-pointer" id="tr-nav-skills">Skills</a></li>
                <li><a href="#projects_scroll_pointer" id="tr-nav-projects">Projects</a></li>
                <li><a href="#work-experience-scroll-pointer" id="tr-nav-work-experience">Work Experience</a></li>
                <li>
                    <div id="select-container-2">
                        <select name="translate" id="translate">
                            <option value="EN">EN</option>
                            <option value="FR">FR</option>
                            <option value="ES">ES</option>
                        </select>
                        <div class="select-arrow"></div>
                    </div>
                </li>
            </ul>
        </nav>
        <section id="hero">
            <div class="intro">
                <div class="my-name" id="tr-hero-my-name">Crisel Ayala</div>
                <div class="role" id="tr-hero-role">Software Engineer</div>
                <div class="content" id="tr-hero-content">
                    <p>Hi. This site is my Online portfolio.</p>
                    <p>I am a specialist in web application development,</p>
                    <p>passionate for science, knowledge and enduring projects.</p>
                </div>
                <a href="../../documents/resume_crisel_ayala.pdf" target="_blank">
                    <button class="lime-yellow-button" id="tr-hero-download-cv">Download CV</button>
                </a>
                <a href="#contact-me">
                    <button class="gray-button" id="tr-hero-contact">Contact me</button>
                </a>
            </div>
            <div class="social-media">
                <div class="icon">
                    <a href="https://www.linkedin.com/in/cryselayala98/" target="_blank">
                        <img src="../../images/linkedin_64px_black.png" alt="Linkedin">
                    </a>
                </div>
                <div class="icon">
                    <a href="https://github.com/cryselayala98" target="_blank">
                        <img src="../../images/github_64px_black.png" alt="Github">
                    </a>
                </div>
                <div class="info" id="tr-hero-social-media">Visit my social media</div>
            </div>
            <img class="star-img1" src="../../images/star.png" alt="">
            <img class="star-img2" src="../../images/star.png" alt="">
            <div class="attributions"> Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
        </section>
        <div id="return-button">
            <a href="#intro-scroll-pointer">
                <img src="../../images/arrow_64px_black.png" alt="">
            </a>
        </div>
        <div class="notification" id="tr-notification">
        </div>
    </header>
    <main>
        <section id="about-me">
            <div id="about-me-scroll-pointer" class="custom-shape-divider-top">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path class="shape-fill"></path>
                </svg>
            </div>
            <h1>About me</h1>
            <div class="page-box">
                <div class="content">
                    <p id="tr-phrase1">Hi, I’m <span class="bold">Crisel Ayala</span>, a Backend Developer with expertise in <span class="bold">Java</span> and <span class="bold">Spring</span>. I graduated with a bachelor’s degree in Systems Engineering from <span class="bold">Francisco de Paula Santander University</span> in Colombia.</p>
                    <p id="tr-phrase2">I specialize in building scalable, efficient systems and integrating them seamlessly with frontend solutions. While backend development is my primary focus, I’m also skilled in <span class="bold">HTML</span>, <span class="bold">CSS</span>, and <span class="bold">JavaScript</span>, enabling me to bridge the gap between backend and frontend effectively.</p>
                    <p id="tr-phrase3">I’m passionate about creating user-centric, functional, and visually appealing applications. Beyond coding, I enjoy learning new technologies, exploring design systems, and mastering languages like English and French. Let’s work together to bring innovative ideas to life!</p>
                </div>
                <div class="content-img">
                    <img src="../../images/developer-512px.png" alt="">
                </div>
            </div>
            <div id="skills-scroll-pointer" class="custom-shape-divider-bottom">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path class="shape-fill"></path>
                </svg>
            </div>
        </section>
        <section id="skills">
            <h1>Skills</h1>
            <div class="page-box">
                <div id="icons-skills">
                    <div class="skills-group">
                        <h3>Languages</h3>
                        <div class="logo">
                            <img src="../../images/java-128px.png" alt="">
                            <div class="content">Java</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/js-128px.png" alt="">
                            <div class="content">Javascript</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/php-128px.png" alt="">
                            <div class="content">PHP</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/ruby-128px.png" alt="">
                            <div class="content">Ruby</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/html-128px.png" alt="">
                            <div class="content">HTML</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/css-128px.png" alt="">
                            <div class="content">CSS</div>
                        </div>
                    </div>
                    <div class="skills-group">
                        <h3>Frameworks and Libraries</h3>
                        <div class="logo">
                        <img src="../../images/spring-framework-128px.png" alt="">
                        <div class="content">Spring Framework</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/nodejs128px.png" alt="">
                            <div class="content">NodeJs</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/aureliajs-128px.png" alt="">
                            <div class="content">AureliaJS</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/codeigniter-128px.png" alt="">
                            <div class="content">Codeigniter</div>
                        </div>
                    </div>
                    <div class="skills-group">
                        <h3>Databases</h3>
                        <div class="logo">
                            <img src="../../images/mysql-128px.png" alt="">
                            <div class="content">MySql</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/postgres-128px.png" alt="">
                            <div class="content">Postgres</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/sqlite-128px.png" alt="">
                            <div class="content">SQLite</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/mongodb-128px.png" alt="">
                            <div class="content">MongoDB</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/redis-128px.png" alt="">
                            <div class="content">Redis</div>
                        </div>
                    </div>
                    <div class="skills-group">
                        <h3>Tools</h3>
                        <div class="logo">
                            <img src="../../images/aws-128px.png" alt="">
                            <div class="content">Amazon Web Services</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/git-128px.png" alt="">
                            <div class="content">Git</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/github-128px.png" alt="">
                            <div class="content">Github</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/gitlab-128px.png" alt="">
                            <div class="content">GitLab</div>
                        </div>
                        <div class="logo">
                            <img src="../../images/azure-128px.png" alt="">
                            <div class="content">Azure DevOps</div>
                        </div>
                        <div id="projects_scroll_pointer" class="logo">
                            <img src="../../images/wordpress_logo_128px.png" alt="">
                            <div class="content">Wordpress</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects">
            <h1>Projects</h1>
            <div class="page-box">
                <div class="circles">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <div class="content">
                    <div class="boxes">
                        <div class="box pink-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/training-center-mainpage.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/ProgramacionCompetitivaUFPS">
                                        <img class="links" src="../../images/github64px_white_2.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                    <a target="_blank" class="website-link" href="https://trainingcenter.cloud.ufps.edu.co/bienvenido">
                                        <img class="links" src="../../images/web_64px_white.png" alt="Visit website">
                                        <div class="content">View Website</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Training Center V2</h3>
                            <p>Programming learning for schools and competitive programming training platform.</p>
                        </div>
                        <div class="box white-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/imgfreepublic_mainpage.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/imgfreepublic">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Imgfreepublic</h3>
                            <p>Website for sharing images like Imgur.</p>
                        </div>
                        <div class="box lime-yellow-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/geoextension-main.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/Geo-Extension-UFPS">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Geo Extensión UFPS</h3>
                            <p>Platform for visualizing UFPS extension projects.</p>
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>
                        <div class="box white-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/generic_website_image.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/Pragma-backend-Spring-Boot-Project">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Spring Framework client management api</h3>
                            <p>API for user management.</p>
                        </div>
                        <div class="box white-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/javascript_projects.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/Javascript-Notas">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                    <a target="_blank" class="website-link" href="https://projectslearning.netlify.app/proyectos/">
                                        <img class="links" src="../../images/web_64px_black.png" alt="Visit website">
                                        <div class="content">View Website</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Javascript mini projects</h3>
                            <!--p>No description</p-->
                        </div>
                        <div class="box purple-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/generic_website_image.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/sopa-de-letras">
                                        <img class="links" src="../../images/github64px_white_2.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Word Search</h3>
                            <!--p>No description</p-->
                            <img class="decoration" src="../../images/star2.png" alt="">
                        </div>
                        <div class="box pink-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/generic_website_image.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/Mis-Soluciones">
                                        <img class="links" src="../../images/github64px_white_2.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Problems ICPC</h3>
                            <p>Source code of ICPC problems divided by topics.</p>
                            <img class="decoration" src="../../images/heart-64px.png" alt="">
                        </div>
                        <div class="box lime-yellow-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/mywebsite.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/My-Website/tree/main">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                    <a target="_blank" class="website-link" href="https://criselayala.netlify.app/components/mainpage/">
                                        <img class="links" src="../../images/web_64px_black.png" alt="Visit website">
                                        <div class="content">View Website</div>
                                    </a>
                                </div>
                            </div>
                            <h3>My Website</h3>
                            <!--p>No description</p-->
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>  
                        <div class="box purple-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/sistcolegio_page1.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/SistColegio">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>SistColegio</h3>
                            <p>Platform for schools management like grades, courses and different users.</p>
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>  
                        <div class="box white-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/nodejsproject.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/proyecto-curso-nodeJS">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Client management (NodeJS)</h3>
                            <p>website made for NodeJS course at Tecnológico de Antioqua University.</p>
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>  
                        <div class="box lime-yellow-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/sispro_login.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/SISPRO">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Sispro</h3>
                            <p>Platform for ICFES exams management.</p>
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>        
                        <div class="box pink-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/cvlac_ufps_1.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/hviufps/tree/master/application">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>CVLAC</h3>
                            <p>Website for researches curriculum vitae management.</p>
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>        
                        <div class="box pink-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/css_projects.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/CSS-practice-projects/tree/main">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                    <a target="_blank" class="website-link" href="https://csswebdesignprojects.netlify.app/projects/">
                                        <img class="links" src="../../images/web_64px_black.png" alt="Visit website">
                                        <div class="content">View Website</div>
                                    </a>
                                </div>
                            </div>
                            <h3>FreeCodeCamp CSS projects</h3>
                            <!--p>No description</p-->
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>        
                        <div class="box purple-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/blackjack.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/BlackJack/tree/main">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                    <a target="_blank" class="website-link" href="https://github.com/cryselayala98/BlackJack/raw/refs/heads/main/ProyectoCasino.jar">
                                        <img class="links" src="../../images/web_64px_black.png" alt="Visit website">
                                        <div class="content">JAR</div>
                                    </a>
                                </div>
                            </div>
                            <h3>BlackJack</h3>
                            <!--p>No description</p-->
                            <img id="work-experience-scroll-pointer" class="decoration" src="../../images/flower.png" alt="">
                        </div>                                
                    </div>
                </div>
            </div>
        </section>
        <section id="work-experience">
            <h1>Work Experience</h1>
            <div class="page-box">
                <div class="timeline-section">
                    <div class="timeline-circle"></div>
                    <div class="timeline-right">
                        <div class="box">
                            <div class="circles">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <div class="content"> 
                                <div class="time">
                                    <img src="../../images/calendar-32px-black.png" alt="">
                                    April 2023 - Now
                                </div>
                                <h3 class="occupation">Freelancer Developer</h3>
                                <!--div class="company">
                                    At <span class="bold">No enterprise</span>
                                </div-->
                                <!--div class="ubication">
                                    <img src="../../images/location-32px-black.png" alt="">
                                    <span class="bold">City</span>, Country
                                </div-->
                                <div class="tasks">
                                    <ul>
                                        <li>As a freelance web developer, I specialize in building measured and performance-driven websites tailored to client needs.</li>
                                        <li>I leverage Java, Spring Boot, HTML, CSS, and JavaScript to create scalable and efficient solutions, and integrating databases.</li>
                                        <li>My focus is on delivering high-quality, optimized, and user-friendly websites while continuously learning and adapting to the latest industry trends.</li>
                                    </ul>
                                </div>
                                <div class="tools">
                                    <span class="bold">Technologies: </span>Java, Spring, Javascript, HTML, CSS, MySQL, Postgres, MongoDB
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-section">
                    <div class="timeline-circle"></div>
                    <div class="timeline-left">
                        <div class="box">
                            <div class="content"> 
                                <h3 class="occupation">Backend developer</h3>
                                <div class="time">
                                    <img src="../../images/calendar-32px-black.png" alt="">
                                    November 2021 - March 2023
                                </div>
                                <div class="company">
                                    At <span class="bold">Muverang</span>
                                </div>
                                <div class="ubication">
                                    <img src="../../images/location-32px-black.png" alt="">
                                    <span class="bold">Medellin</span>, Colombia
                                </div>
                                <div class="tasks">
                                    <ul>
                                        <li>I've been an integral part of the development team at Muverang, a startup dedicated to sustainable mobility solutions across various Colombian cities.</li>
                                        <li>At Muverang, I contribute to the Impulsa team, focusing on equipping users with tools to facilitate seamless and efficient vehicle rentals tailored to their needs across multiple platforms. My responsibilities include providing support across various channels (website, transactional portal, Back-Office) and implementing new features to enhance service offerings. Additionally, I leverage external services such as AWS (S3, API Gateway, Lambdas, RDS, SQS, Cognito).</li>
                                        <li>I also initiated the development of a Telegram BOT to streamline the plan activation and finalization process, incorporating features like Redis cache support and thread management.</li>
                                    </ul>
                                </div>
                                <div class="tools">
                                    <span class="bold">Technologies: </span> Java, Spring, AWS Services, Microservices, Relational / Non Relational Databases
                                </div>
                            </div>
                            <div class="circles">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="timeline-section">
                    <div class="timeline-circle"></div>
                    <div class="timeline-right">
                        <div class="box">
                            <div class="circles">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <div class="content"> 
                                <div class="time">
                                    <img src="../../images/calendar-32px-black.png" alt="">
                                    September 2021 - March 2023
                                </div>
                                <h3 class="occupation">Software Engineer</h3>
                                <div class="company">
                                    At <span class="bold">Pragma</span>
                                </div>
                                <div class="ubication">
                                    <img src="../../images/location-32px-black.png" alt="">
                                    <span class="bold">Medellin</span>, Colombia
                                </div>
                                <div class="tasks">
                                    <ul>
                                        <li>As a member of the Growth and Ecosystems team, I provided support for internal projects such as the Bitacora platform, profile, and vacation management.</li>
                                        <li>I developed new functionalities inside some internal projects mentioned above, applying hexagonal architecture to the backend, tools like spring cloud, security,clean code and non-relational databases, and enhancing my habilities in frontend side tools, using Javascript and Angular.</li>
                                    </ul>
                                </div>
                                <div class="tools">
                                    <span class="bold">Technologies: </span> Java, Spring, Docker, AWS Services, Microservices,Relational/Non Relational Databases, Hexagonal architecture, clean code, Javascript, Angular
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-section">
                    <div class="timeline-circle"></div>
                    <div class="timeline-left">
                        <div class="box">
                            <div class="content"> 
                                <h3 class="occupation">FullStack developer</h3>
                                <div class="time">
                                    <img src="../../images/calendar-32px-black.png" alt="">
                                    January 2021 - September 2023
                                </div>
                                <div class="company">
                                    At <span class="bold">RASI</span>
                                </div>
                                <div class="ubication">
                                    <img src="../../images/location-32px-black.png" alt="">
                                    <span class="bold">Cucuta</span>, Colombia
                                </div>
                                <div class="tasks">
                                    <ul>
                                        <li>RASI specializes in delivering development solutions to various organizations on a regional scale, alongside offering business process management and consulting services. I was responsible for developing tailored solutions to meet functional requirements for clients using the RASI MEDICAL web platform. This involved utilizing Java and Spring, along with handling persistent data and mapping using JPA and Hibernate. Additionally, I employed JavaScript and jQuery to enhance user interfaces. </li>
                                        <li>I also contributed to developing functional solutions for clients on the RASI ERP web platform. This involved leveraging technologies such as Java, JSP, JavaScript, and jQuery, while applying design paterns like DAO/DTO. Furthermore, I managed database interactions efficiently using Postgres.</li>
                                    </ul>
                                </div>
                                <div class="tools">
                                    <span class="bold">Technologies: </span> Java, Spring, Javascript, Relational Databases, HTML, CSS, jQuery
                                </div>
                            </div>
                            <div class="circles">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="timeline-section">
                    <div class="timeline-circle"></div>
                    <div class="timeline-right">
                        <div class="box">
                            <div class="circles">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <div class="content"> 
                                <div class="time">
                                    <img src="../../images/calendar-32px-black.png" alt="">
                                    March 2019 - September 2019
                                </div>
                                <h3 class="occupation">Software Developer</h3>
                                <div class="company">
                                    At <span class="bold">Plantar Project</span>
                                </div>
                                <div class="ubication">
                                    <img src="../../images/location-32px-black.png" alt="">
                                    <span class="bold">Cucuta</span>, Colombia
                                </div>
                                <div class="tasks">
                                    <ul>
                                        <li>PLANTAR is an initiative backed by the Government of Norte de Santander Department and facilitated by the University of Pamplona. The project aims to implement agroecological models to foster sustainable development and enhance crop competitiveness among families across various municipalities. Leveraging Information and Communication Technologies (ICT), I contributed to the project's development team, undertaking the following tasks:</li>
                                        <li>Designed and developed the PLANTAR Project website using WordPress, HTML, CSS and JavaScript. <a href="https://www.unipamplona.edu.co/proyectoplantar/">Visit site</a></li>
                                        <li>Executed load and performance testing for the PLANTAR software using Apache JMeter to ensure optimal functionality and performance.</li>
                                        <li>Conducted analysis and design documentation for the PLANTAR software. </li>
                                        <li>Created an alert management application to monitor weather stations in six municipalities of Norte de Santander. This involved utilizing Grafana, PHP, and SQL.</li>
                                    </ul>
                                </div>
                                <div class="tools">
                                    <span class="bold">Technologies: </span> PHP, Grafana, Wordpress, HTML, CSS Javascript, Apache JMeter, Software Analysis and design
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact-me">
            <div class="page-box">
                <div class="circles">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <div class="content">
                    <h1>Contact me</h1>
                    <div class="description">
                        Please don't hesitate to reach out by filling out the form below. I'll respond to your message promptly. You also can visit my social media.
                    </div>
                    <form id="contact-form" action="#">
                        <input type="text"  name="name" id="name" placeholder="Enter your name">
                        <input type="email" name="email" id="email" placeholder="Enter your email">
                        <textarea name="message" id="message" placeholder="Enter your message"></textarea>
                        <input type="submit" value="Submit">
                        <div id="loading-container">
                            <svg id="svg-loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200" height="200" style="shape-rendering: auto; display: block; background: rgba(255, 255, 255, 0);" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g transform="rotate(0 50 50)">
                                <rect fill="#413cff" height="11" width="11" ry="5.5" rx="5.5" y="15.5" x="44.5">
                                  <animate repeatCount="indefinite" begin="-0.9166666666666666s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                </rect>
                              </g><g transform="rotate(30 50 50)">
                                <rect fill="#413cff" height="11" width="11" ry="5.5" rx="5.5" y="15.5" x="44.5">
                                  <animate repeatCount="indefinite" begin="-0.8333333333333334s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                </rect>
                              </g><g transform="rotate(60 50 50)">
                                <rect fill="#413cff" height="11" width="11" ry="5.5" rx="5.5" y="15.5" x="44.5">
                                  <animate repeatCount="indefinite" begin="-0.75s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                </rect>
                              </g><g transform="rotate(90 50 50)">
                                <rect fill="#413cff" height="11" width="11" ry="5.5" rx="5.5" y="15.5" x="44.5">
                                  <animate repeatCount="indefinite" begin="-0.6666666666666666s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                </rect>
                              </g><g transform="rotate(120 50 50)">
                                <rect fill="#413cff" height="11" width="11" ry="5.5" rx="5.5" y="15.5" x="44.5">
                                  <animate repeatCount="indefinite" begin="-0.5833333333333334s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                </rect>
                              </g><g transform="rotate(150 50 50)">
                                <rect fill="#413cff" height="11" width="11" ry="5.5" rx="5.5" y="15.5" x="44.5">
                                  <animate repeatCount="indefinite" begin="-0.5s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                </rect>
                              </g><g transform="rotate(180 50 50)">
                                <rect fill="#413cff" height="11" width="11" ry="5.5" rx="5.5" y="15.5" x="44.5">
                                  <animate repeatCount="indefinite" begin="-0.4166666666666667s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                </rect>
                              </g><g transform="rotate(210 50 50)">
                                <rect fill="#413cff" height="11" width="11" ry="5.5" rx="5.5" y="15.5" x="44.5">
                                  <animate repeatCount="indefinite" begin="-0.3333333333333333s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                </rect>
                              </g><g transform="rotate(240 50 50)">
                                <rect fill="#413cff" height="11" width="11" ry="5.5" rx="5.5" y="15.5" x="44.5">
                                  <animate repeatCount="indefinite" begin="-0.25s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                </rect>
                              </g><g transform="rotate(270 50 50)">
                                <rect fill="#413cff" height="11" width="11" ry="5.5" rx="5.5" y="15.5" x="44.5">
                                  <animate repeatCount="indefinite" begin="-0.16666666666666666s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                </rect>
                              </g><g transform="rotate(300 50 50)">
                                <rect fill="#413cff" height="11" width="11" ry="5.5" rx="5.5" y="15.5" x="44.5">
                                  <animate repeatCount="indefinite" begin="-0.08333333333333333s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                </rect>
                              </g><g transform="rotate(330 50 50)">
                                <rect fill="#413cff" height="11" width="11" ry="5.5" rx="5.5" y="15.5" x="44.5">
                                  <animate repeatCount="indefinite" begin="0s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                </rect>
                              </g><g></g></g>
                            </svg>
                        </div>
                    </form>
                </div>
                <img class="paper-clip" src="../../images/paper-clip.png" alt="">
            </div>
        </section>
    </main>
    <footer>
        <div id="outro">
            <div class="info">
                <div class="my-name">Crisel Ayala</div>
                <div class="role">Software Engineer</div>
            </div>
            <div class="social-media">
                <a target="_blank" href="https://www.linkedin.com/in/cryselayala98/"><img src="../../images/linkedin_64px_white.png" alt="Linkedin"></a>
                <a target="_blank" href="https://github.com/cryselayala98"><img src="../../images/github64px_white_2.png" alt="Github"></a>
            </div>
        </div>
        <div id="copyright">©Copyright <span class="year">2024</span>. Made by <a target="_blank" href="https://www.linkedin.com/in/cryselayala98/">Crisel Ayala</a></div>
    </footer>
    <script type="module" src="../mainPage/js/index.js"></script>
</body>
</html>