<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../generalStyles.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>My Web Portfolio</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="#">My Website</a></div>
            <ul>
                <li><a href="#about-me">About me</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#work-experience">Work Experience</a></li>
            </ul>
        </nav>
        <section id="hero">
            <div class="intro">
                <div class="myName">Crisel Ayala</div>
                <div class="role">Software Engineer</div>
                <div class="content">
                    <p>Hi. This site is my Online portfolio.</p>
                    <p>I am a specialist in web application development,</p>
                    <p>passionate for science, knowledge and enduring projects.</p>
                </div>
                <button class="lime-yellow-button">Download CV</button>
                <button class="gray-button">Contact me</button>
            </div>
            <div class="social-media">
                <div class="icon">
                    <a href="#" target="_blank">
                        <img src="../../images/linkedin_64px_black.png" alt="Linkedin">
                    </a>
                </div>
                <div class="icon">
                    <a href="#" target="_blank">
                        <img src="../../images/github_64px_black.png" alt="Github">
                    </a>
                </div>
                <div class="info">Visit my social media</div>
            </div>
            <img class="star-img1" src="../../images/star.png" alt="">
            <img class="star-img2" src="../../images/star.png" alt="">
            <div class="attributions"> Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
            
        </section>
    </header>
    <main>
        <section id="about-me">
            <div class="custom-shape-divider-top">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path class="shape-fill"></path>
                </svg>
            </div>
            <div class="separator"></div>
            <h1>About me</h1>
            <div class="page-box">
                <div class="content">
                    <p>Hi, I’m <span class="bold">Crisel Ayala</span>, a Backend Developer with expertise in <span class="bold">Java</span> and <span class="bold">Spring</span>. I graduated with a bachelor’s degree in Systems Engineering from <span class="bold">Francisco de Paula Santander University</span> in Colombia.</p>
                    <p> I specialize in building scalable, efficient systems and integrating them seamlessly with frontend solutions. While backend development is my primary focus, I’m also skilled in <span class="bold">HTML</span>, <span class="bold">CSS</span>, and <span class="bold">JavaScript</span>, enabling me to bridge the gap between backend and frontend effectively.</p>
                    <p>I’m passionate about creating user-centric, functional, and visually appealing applications. Beyond coding, I enjoy learning new technologies, exploring design systems, and mastering languages like English and French. Let’s work together to bring innovative ideas to life!</p>
                </div>
                <div class="content-img">
                    <img src="../../images/developer-512px.png" alt="">
                </div>
            </div>
            <div class="custom-shape-divider-bottom">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path class="shape-fill"></path>
                </svg>
            </div>
        </section>
        <section id="skills">
            <h1>Skills</h1>
            <div class="page-box">
                <div id="icons-skills">
                    <div class="logo">
                        <img src="../../images/java-128px.png" alt="">
                        <div class="content">
                            <h3>Java</h3>
                            <div class="certificate">
                                <span class="bold">Certified by: </span><a target="_blank" href="#">Udemy</a>
                            </div>
                            <div class="projects-applied">
                                <span class="bold">Applied in: </span><a target="_blank" href="#">Training Center</a>, <a target="_blank" href="#">Training Center</a>
                            </div>
                        </div>
                    </div>
                    <div class="logo">
                        <img src="../../images/spring-framework-128px.png" alt="">
                        <div class="content">Spring Framework</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/js-128px.png" alt="">
                        <div class="content">Javascript</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/nodejs128px.png" alt="">
                        <div class="content">NodeJs</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/aureliajs-128px.png" alt="">
                        <div class="content">AureliaJS</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/php-128px.png" alt="">
                        <div class="content">PHP</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/codeigniter-128px.png" alt="">
                        <div class="content">Codeigniter</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/ruby-128px.png" alt="">
                        <div class="content">Ruby</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/aws-128px.png" alt="">
                        <div class="content">Amazon Web Services</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/mysql-128px.png" alt="">
                        <div class="content">MySql</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/postgres-128px.png" alt="">
                        <div class="content">Postgres</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/sqlite-128px.png" alt="">
                        <div class="content">SQLite</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/mongodb-128px.png" alt="">
                        <div class="content">MongoDB</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/redis-128px.png" alt="">
                        <div class="content">Redis</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/html-128px.png" alt="">
                        <div class="content">HTML</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/css-128px.png" alt="">
                        <div class="content">CSS</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/git-128px.png" alt="">
                        <div class="content">Git</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/github-128px.png" alt="">
                        <div class="content">Github</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/gitlab-128px.png" alt="">
                        <div class="content">GitLab</div>
                    </div>
                    <div class="logo">
                        <img src="../../images/azure-128px.png" alt="">
                        <div class="content">Azure DevOps</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects">
            <h1>Projects</h1>
            <div class="page-box">
                <div class="circles">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <div class="content">
                    <div class="boxes">
                        <div class="box pink-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/training-center-mainpage.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/ProgramacionCompetitivaUFPS">
                                        <img class="links" src="../../images/github64px_white_2.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                    <a target="_blank" class="website-link" href="https://trainingcenter.cloud.ufps.edu.co/bienvenido">
                                        <img class="links" src="../../images/web_64px_white.png" alt="Visit website">
                                        <div class="content">View Website</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Training Center V2</h3>
                            <p>Programming learning for schools and competitive programming training platform.</p>
                        </div>
                        <div class="box white-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/imgfreepublic_mainpage.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/imgfreepublic">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Imgfreepublic</h3>
                            <p>Website for sharing images like Imgur.</p>
                        </div>
                        <div class="box lime-yellow-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/geoextension-main.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/Geo-Extension-UFPS">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Geo Extensión UFPS</h3>
                            <p>Platform for visualizing UFPS extension projects.</p>
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>
                        <div class="box white-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/generic_website_image.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/Pragma-backend-Spring-Boot-Project">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Spring Framework client management api</h3>
                            <p>API for user management.</p>
                        </div>
                        <div class="box white-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/javascript_projects.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/Javascript-Notas">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                    <a target="_blank" class="website-link" href="https://projectslearning.netlify.app/proyectos/">
                                        <img class="links" src="../../images/web_64px_black.png" alt="Visit website">
                                        <div class="content">View Website</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Javascript mini projects</h3>
                            <!--p>No description</p-->
                        </div>
                        <div class="box purple-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/generic_website_image.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/sopa-de-letras">
                                        <img class="links" src="../../images/github64px_white_2.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Word Search</h3>
                            <!--p>No description</p-->
                            <img class="decoration" src="../../images/star2.png" alt="">
                        </div>
                        <div class="box pink-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/generic_website_image.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/Mis-Soluciones">
                                        <img class="links" src="../../images/github64px_white_2.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Problems ICPC</h3>
                            <p>Source code of ICPC problems divided by topics.</p>
                            <img class="decoration" src="../../images/heart-64px.png" alt="">
                        </div>
                        <div class="box lime-yellow-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/mywebsite.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/My-Website/tree/main">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                    <a target="_blank" class="website-link" href="https://criselayala.netlify.app/components/mainpage/">
                                        <img class="links" src="../../images/web_64px_black.png" alt="Visit website">
                                        <div class="content">View Website</div>
                                    </a>
                                </div>
                            </div>
                            <h3>My Website</h3>
                            <!--p>No description</p-->
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>  
                        <div class="box purple-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/sistcolegio_page1.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/SistColegio">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>SistColegio</h3>
                            <p>Platform for schools management like grades, courses and different users.</p>
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>  
                        <div class="box white-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/nodejsproject.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/proyecto-curso-nodeJS">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Client management (NodeJS)</h3>
                            <p>website made for NodeJS course at Tecnológico de Antioqua University.</p>
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>  
                        <div class="box lime-yellow-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/sispro_login.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/SISPRO">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Sispro</h3>
                            <p>Platform for ICFES exams management.</p>
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>  
                        <div class="box pink-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/cvlac_ufps_1.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/hviufps/tree/master/application">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                    <a target="_blank" class="website-link" href="#">
                                        <img class="links" src="../../images/web_64px_black.png" alt="Visit website">
                                        <div class="content">View Website</div>
                                    </a>
                                </div>
                            </div>
                            <h3>CVLAC</h3>
                            <p>Website for researches curriculum vitae management.</p>
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>        
                        <div class="box pink-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/cvlac_ufps_1.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/hviufps/tree/master/application">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                </div>
                            </div>
                            <h3>CVLAC</h3>
                            <p>Website for researches curriculum vitae management.</p>
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>        
                        <div class="box pink-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/css_projects.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/CSS-practice-projects/tree/main">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                    <a target="_blank" class="website-link" href="https://csswebdesignprojects.netlify.app/projects/">
                                        <img class="links" src="../../images/web_64px_black.png" alt="Visit website">
                                        <div class="content">View Website</div>
                                    </a>
                                </div>
                            </div>
                            <h3>FreeCodeCamp CSS projects</h3>
                            <!--p>No description</p-->
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>        
                        <div class="box purple-box">
                            <div class="preview-webpage">
                                <img  src="../../images/projects_visualizer/blackjack.png" alt="">
                                <div class="square">
                                    <a target="_blank" class="github-link" href="https://github.com/cryselayala98/BlackJack/tree/main">
                                        <img class="links" src="../../images/github_64px_black.png" alt="Github">
                                        <div class="content">View Github</div>
                                    </a>
                                    <a target="_blank" class="website-link" href="https://github.com/cryselayala98/BlackJack/raw/refs/heads/main/ProyectoCasino.jar">
                                        <img class="links" src="../../images/web_64px_black.png" alt="Visit website">
                                        <div class="content">JAR</div>
                                    </a>
                                </div>
                            </div>
                            <h3>BlackJack</h3>
                            <!--p>No description</p-->
                            <img class="decoration" src="../../images/flower.png" alt="">
                        </div>                                
                    </div>
                </div>
            </div>
        </section>
        <section id="work-experience">
            <h1>Work Experience</h1>
            <div class="page-box">
                <div class="timeline-section">
                    <div class="timeline-circle"></div>
                    <div class="timeline-left">
                        <div class="box">
                            <div class="content"> 
                                <h3 class="occupation">Software Engineer</h3>
                                <div class="time">
                                    <img src="../../images/calendar-32px-black.png" alt="">
                                    september 2021 - march 2023
                                </div>
                                <div class="company">
                                    At <span class="bold">Pragma</span>
                                </div>
                                <div class="ubication">
                                    <img src="../../images/location-32px-black.png" alt="">
                                    <span class="bold">Medellin</span>, Colombia
                                </div>
                                <div class="tasks">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.</li>
                                        <li>Donec convallis non tellus ac vestibulum. Sed commodo nisl leo, nec maximus purus tempor sed.</li>
                                        <li> Aenean a ipsum at erat aliquet consequat.</li>
                                        <li>Sed feugiat mi nec mauris dignissim, ut congue elit porttitor.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                        <li>Suspendisse sagittis et sapien id maximus.</li>
                                    </ul>
                                </div>
                                <div class="tools">
                                    <span class="bold">Technologies: </span> Java, Spring, Docker, AWS, Microservices.
                                </div>
                            </div>
                            <div class="circles">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="timeline-section">
                    <div class="timeline-circle"></div>
                    <div class="timeline-right">
                        <div class="box">
                            <div class="circles">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <div class="content"> 
                                <div class="time">
                                    <img src="../../images/calendar-32px-black.png" alt="">
                                    september 2021 - march 2023
                                </div>
                                <h3 class="occupation">Software Engineer</h3>
                                <div class="company">
                                    At <span class="bold">Pragma</span>
                                </div>
                                <div class="ubication">
                                    <img src="../../images/location-32px-black.png" alt="">
                                    <span class="bold">Medellin</span>, Colombia
                                </div>
                                <div class="tasks">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.</li>
                                        <li>Donec convallis non tellus ac vestibulum. Sed commodo nisl leo, nec maximus purus tempor sed.</li>
                                        <li> Aenean a ipsum at erat aliquet consequat.</li>
                                        <li>Sed feugiat mi nec mauris dignissim, ut congue elit porttitor.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                        <li>Suspendisse sagittis et sapien id maximus.</li>
                                    </ul>
                                </div>
                                <div class="tools">
                                    <span class="bold">Technologies: </span> Java, Spring, Docker, AWS, Microservices.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-section">
                    <div class="timeline-circle"></div>
                    <div class="timeline-left">
                        <div class="box">
                            <div class="content"> 
                                <h3 class="occupation">Software Engineer</h3>
                                <div class="time">
                                    <img src="../../images/calendar-32px-black.png" alt="">
                                    september 2021 - march 2023
                                </div>
                                <div class="company">
                                    At <span class="bold">Pragma</span>
                                </div>
                                <div class="ubication">
                                    <img src="../../images/location-32px-black.png" alt="">
                                    <span class="bold">Medellin</span>, Colombia
                                </div>
                                <div class="tasks">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.</li>
                                        <li>Donec convallis non tellus ac vestibulum. Sed commodo nisl leo, nec maximus purus tempor sed.</li>
                                        <li> Aenean a ipsum at erat aliquet consequat.</li>
                                        <li>Sed feugiat mi nec mauris dignissim, ut congue elit porttitor.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                        <li>Suspendisse sagittis et sapien id maximus.</li>
                                    </ul>
                                </div>
                                <div class="tools">
                                    <span class="bold">Technologies: </span> Java, Spring, Docker, AWS, Microservices.
                                </div>
                            </div>
                            <div class="circles">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="timeline-section">
                    <div class="timeline-circle"></div>
                    <div class="timeline-right">
                        <div class="box">
                            <div class="circles">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <div class="content"> 
                                <h3 class="occupation">Software Engineer</h3>
                                <div class="time">
                                    <img src="../../images/calendar-32px-black.png" alt="">
                                    september 2021 - march 2023
                                </div>
                                <div class="company">
                                    At <span class="bold">Pragma</span>
                                </div>
                                <div class="ubication">
                                    <img src="../../images/location-32px-black.png" alt="">
                                    <span class="bold">Medellin</span>, Colombia
                                </div>
                                <div class="tasks">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.Suspendisse sagittis et sapien id maximus.</li>
                                        <li>Donec convallis non tellus ac vestibulum. Sed commodo nisl leo, nec maximus purus tempor sed.</li>
                                        <li> Aenean a ipsum at erat aliquet consequat.</li>
                                        <li>Sed feugiat mi nec mauris dignissim, ut congue elit porttitor.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                        <li>Suspendisse sagittis et sapien id maximus.</li>
                                    </ul>
                                </div>
                                <div class="tools">
                                    <span class="bold">Technologies: </span> Java, Spring, Docker, AWS, Microservices.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact-me">
            <div class="page-box">
                <div class="circles">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <div class="content">
                    <h1>Contact me</h1>
                    <div class="description">
                        Please don't hesitate to reach out by filling out the form below. I'll respond to your message promptly.
                    </div>
                    <form action="#">
                        <input type="text" name="name" id="name" placeholder="Enter your name">
                        <input type="email" name="email" id="email" placeholder="Enter your email">
                        <textarea name="message" id="message" placeholder="Enter your message"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <img class="paper-clip" src="../../images/paper-clip.png" alt="">
            </div>
        </section>
    </main>
    <footer>
        <div id="outro">
            <div class="info">
                <div class="my-name">Crisel Ayala</div>
                <div class="role">Software Engineer</div>
            </div>
            <div class="social-media">
                <img src="../../images/linkedin_64px_white.png" alt="Linkedin">
                <img src="../../images/github64px_white_2.png" alt="Github">
                <img src="../../images/twitter_64px_white.png" alt="X">
            </div>
        </div>
        <div id="copyright">©Copyright <span class="year">2024</span>. Made by <a target="_blank" href="https://www.linkedin.com/in/cryselayala98/">Crisel Ayala</a></div>
    </footer>

    <script src="../mainPage/index.js"></script>
</body>
</html>